.back-button-ios{
  color:#fff;
}
.welcome-cont{
  font-size:20px;
}
ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
}
.text-underline{
  text-decoration:underline;
}
.text-center{
  text-align:center;
}
ion-button{
  font-size:15px;
}
