<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894280733558-3gn11smnpcip1pbvf2jgo6bkcbaa1i7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894280733558-3gn11smnpcip1pbvf2jgo6bkcbaa1i7r</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Bec9V0wPZeETmwhTzdSV49r2yVDNkFk</string>
	<key>GCM_SENDER_ID</key>
	<string>894280733558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.certonapp.app</string>
	<key>PROJECT_ID</key>
	<string>certon-ccf37</string>
	<key>STORAGE_BUCKET</key>
	<string>certon-ccf37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894280733558:ios:234eea6dd885eb35</string>
	<key>DATABASE_URL</key>
	<string>https://certon-ccf37.firebaseio.com</string>
</dict>
</plist>