<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> About </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: #ffffff !important;">
  <div class="main-section">
    <div class="text-center"> <img src="assets/imgs/AGZa2fQRQOHYnLWHg0aZ_logo.png" class="logo" style="width:120px;" />
    </div>

    <p class="text-center"><strong>CertOn HUB App</strong></p>
    <br>
    <br>
    <p>App Version: 2.1.4<br>
      &copy; 2021 CertOn HUB Ltd<br>
      <a href="https://www.certon.co.uk/">www.certon.co.uk</a>
    </p>
    <br>
    <p>Privacy Policy<br>
      <a href="https://www.certon.co.uk/privacy-policy">https://www.certon.co.uk/privacy-policy/</a>
    </p>
    <br>
    <p>Accepatable Use Policy :<br>
      <a href="https://www.certon.co.uk/acceptable-use-policy/">http://www.certon.co.uk/acceptable-use-policy/</a>
    </p>
  </div>



</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    <ion-title>CertOn HUB</ion-title>
  </ion-toolbar>
</ion-footer>
