<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page5" style="background: #ffffff !important;">
  <ion-row class="ion-align-items-center" style="height: 100%;">
    <ion-col>
      <div>
        <img src="assets/imgs/AGZa2fQRQOHYnLWHg0aZ_logo.png" class="logo-img"
          style="display:block;width:75%;height:auto;margin-left:auto;margin-right:auto;" />

        <form [formGroup]="loginForm">
          <ion-list id="login-list2">
            <!-- Email Address -->
            <ion-item id="login-input4" class="m-bottom-30" lines="none">
              <ion-label class="ion-no-margin"></ion-label>
              <ion-input type="text" (keyup)="forceLower($event)" placeholder="Email address"
                formControlName="username">
              </ion-input>
            </ion-item>
            <div class="invldusr" *ngIf="submitted && f.username.errors">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
            <!-- <div class="spacer" style="height:40px;" id="login-spacer3"></div>-->

            <!-- Password -->
            <ion-item id="login-input5" class="m-bottom-30" lines="none">
              <ion-label class="ion-no-margin"></ion-label>
              <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.password.errors" class="invldusr">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </ion-list>
          <!-- <div class="spacer" style="width:300px;height:38px;" id="login-spacer6"></div>-->

          <div class="btn-section center m-bottom-15">
            <ion-button id="login-button1" ion-button class="theme-btn" on-click="goToLink()">
              Sign In
            </ion-button>
          </div>

          <!-- Remember me -->
          <ion-item class="remember-section ">
            <ion-checkbox checked={{remchecked}} (ionChange)="rememberme($event)"> </ion-checkbox>
            <ion-label>Remember me</ion-label>
          </ion-item>
          <p id="login-button2" class="forgetpwd" ion-button clear color="positive" block on-click="forgotpassword()">
            Forgot your password?
          </p>

          <p id="login-button3" class="text-underline forgetpwd" ion-button clear color="positive" block
            on-click="register()">
            Register Now
          </p>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-title>CertOn HUB</ion-title>
  </ion-toolbar>
</ion-footer>
