ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
}
.theme-btn {
  --color: #fff;
  --background: #e29c59;
  text-transform: inherit;
}
.text-center{
  text-align:center;
}
.back-button-ios {
  color: #fff;
}
.item-ios .radio-ios {
    position: static;
    display: block;
    margin: 8px 11px 8px 8px;
    border: 1px solid #000;
    width: 24px;
    height: 24px;
}
.text-underline{
  text-decoration:underline;
}
ion-button{
  font-size: 15px;
}
.welcome-cont{
  font-size:20px;
}
