.back-button-ios {
    color: #fff;
  }

  .back-button-ios:hover {
    border: 0px solid grey;
  }

  .m-bottom-30 {
    margin-bottom: 30px;
  }

  .theme-btn {
    --color: #fff;
    --background: #e29c59;
    text-transform: inherit;
  }
  .invldusr{
    margin-top: -20px;
    margin-bottom: 10px;
    color: red;
  }
  ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
  }
  ion-item{
    --inner-padding-end:0px;
  }
