<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-button-ios" text="Back" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: #ffffff !important;">
  <div class="main-section">
    <form [formGroup]="ForgotpasswordForm">
      <!-- email address to chenage password -->
      <ion-list id="list2">
        <ion-item id="input4" class="m-bottom-30 ion-no-padding" lines="none">
          <ion-label class="ion-no-margin"></ion-label>
          <ion-input type="text" placeholder="Email Address" formControlName="email">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && f.email.errors" class="invldusr">
          <div *ngIf="f.email.errors.required">Email Address is required</div>
        </div>
        <ion-button id="login-button3" class="theme-btn" expand="block" on-click="submitform()">
          Send
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-title>CertOn HUB</ion-title>
  </ion-toolbar>
</ion-footer>
